{% extends "corpus/base.html" %}
{% load socialaccount %}
{% block title %}Sign in{% endblock %}
{% block content %}
<div class="signin">
  <div class="card">
    <h1>Sign in</h1>
    <p>
      CorpusFrequency uses your Google account. Any Google account works
      &mdash; there is nothing to register and no password to remember.
    </p>
    <p>
      <a class="button button-primary" href="{% provider_login_url 'google' process='login' %}">
        Sign in with Google
      </a>
    </p>
  </div>
</div>
{% endblock %}
