<!doctype html>
{% for i in ('1', '2', '3', '4', '5', '6') %}
<a href="{{ '/ngrams/'+ i}}" style="font-size: 64px;"> #{{i}}</a>
{% endfor %}
<a href="/export"><button>Export</button></a>
<button onclick="triggerClear()" style="margin-left: 100px;">Clear</button>

<script>
    function triggerClear() {
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/clear', false)
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhr.send()
        location.reload()
    }
</script>

{% block content %}{% endblock %}
