{% extends "nav.html" %}
{% block content %}
{% for element in list %}
    <div>
        <input type="checkbox" onclick="toggleNgram('{{element.ngram}}')" {{'checked' if element.checked else ''}}><a href="{{ '/phrase/'+ element.ngram}}">{{element.ngram}} - {{element.count}}</a></li>
    </div>
{% endfor %}

<script>
    function toggleNgram(ngram) {
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/toggle-ngram')
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhr.send('ngram=' + ngram + '&n=' + '{{n}}')
    }
</script>

{% endblock %}

