{% extends "nav.html" %}
{% block content %}
<h2>{{ngram}}</h2>
{% for result in results %}
    <li><input type="checkbox" onclick="togglePhrase('{{result.phrase}}')" {{'checked' if result.phrase in phrases}}>{{ result.fileName }} {{ result.phrase }}</li>
{% endfor %}

<script>
    function togglePhrase(phrase) {
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/toggle-phrase')
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhr.send('ngram={{ngram}}' + '&phrase=' + phrase)
    }
</script>

{% endblock %}